body {
    background-color: aqua;
}

#box { width: 100px; height: 100px; position: absolute; background: gray; left: 200px; top: 200px; background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJE-3S3SNCmDNqXqd9IyvLNgXP7D3_ugBg8ZiczYLB22y2h7g")}

